<!DOCTYPE html>
<html ng-app="cloudbrain.publishers">
  <head>
    <title>Cloudbrain Publisher</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
  </head>
  <body>

    <h1>Cloudbrain</h1>
    <publisher-card></publisher-card>
    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <!-- bower:js -->
    <script src="../dist/vendor/angularjs/angular.js"></script>
    <!-- endbower -->
    <script src="../dist/js/app.js"></script>
    <script src="../dist/app/publishers/publisherCard.directive.js"></script>
    
  </body>
</html>
